# **Project 1**

# Learning Objectives

- Explore and glean insights from a real dataset using pandas
- Practice using pandas for exploratory analysis, information gathering, and discovery
- Practice cleaning data and answering questions

# Dataset

You are to analyze campaign contributions to the 2016 U.S. presidential primary races made in California. Use the csv file located here: https://drive.google.com/file/d/1Lgg-PwXQ6TQLDowd6XyBxZw5g1NGWPjB/view?usp=sharing. You should download and save this file in the same folder as this notebook is stored.  This file originally came from the U.S. Federal Election Commission (https://www.fec.gov/).

Documentation for this data can be found here: https://drive.google.com/file/d/11o_SByceenv0NgNMstM-dxC1jL7I9fHL/view?usp=sharing

When you upload the dataset to Colab, it will take approximately 2-3 minutes to load. **Do not run the code cell under "Setup" once the data has fully uploaded.**

# Data Questions

You are working for a California state-wide election campaign. Your boss wants you to examine historic 2016 election contribution data to see what zipcodes are more supportive of fundraising for your candidate.

Your boss asks you to filter out some of the records:
- Only use primary 2016 contribution data.
- Concentrate on Bernie Sanders as a candidate.

The questions your boss wants answered is:
- Which zipcode (5-digit zipcode) had the highest count of contributions and the most dollar amount?
- What day(s) of the month do most people donate?

# Setup

Run the cell below as it will load the data into a pandas dataframe named `contrib`. Note that a custom date parser is defined to speed up loading. If Python were to guess the date format, it would take even longer to load.

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

# These commands below set some options for pandas and to have matplotlib show the charts in the notebook
pd.set_option('display.max_rows', 1000)
pd.options.display.float_format = '{:,.2f}'.format

# Define a date parser to pass to read_csv
d = lambda x: datetime.strptime(x, '%d-%b-%y')

# Load the data
# We have this defaulted to the folder OUTSIDE of your repo - please change it as needed
contrib = pd.read_csv('P00000001-CA.csv', index_col=False, parse_dates=['contb_receipt_dt'], date_parser=d)

# Note - for now, it is okay to ignore the warning about mixed types.

C:\Users\idree\AppData\Local\Temp\ipykernel_21884\2064147930.py:14: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  contrib = pd.read_csv('P00000001-CA.csv', index_col=False, parse_dates=['contb_receipt_dt'], date_parser=d)
C:\Users\idree\AppData\Local\Temp\ipykernel_21884\2064147930.py:14: DtypeWarning: Columns (6,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  contrib = pd.read_csv('P00000001-CA.csv', index_col=False, parse_dates=['contb_receipt_dt'], date_parser=d)

**For all questions, please do not alter any cells that already exist. However, you can add as many code or text cells as you need to answer the questions.**

***
# **Part 1: Initial Data Checks (50 points)**

First, we will take a preliminary look at the data to check that it was loaded correctly and contains the info we need.

In [5]:
contrib

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00575795,P00003392,"Clinton, Hillary Rodham","AULL, ANNE",LARKSPUR,CA,"949,391,913.00",NaN,RETIRED,50.00,2016-04-26,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4768722,P2016
1,C00575795,P00003392,"Clinton, Hillary Rodham","CARROLL, MARYJEAN",CAMBRIA,CA,"934,284,638.00",NaN,RETIRED,200.00,2016-04-20,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4747242,P2016
2,C00575795,P00003392,"Clinton, Hillary Rodham","GANDARA, DESIREE",FONTANA,CA,"923,371,507.00",NaN,RETIRED,5.00,2016-04-02,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4666603,P2016
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125654,C00573519,P60005915,"Carson, Benjamin S.","HENDERSON, YVONNE MRS.",REDONDO BEACH,CA,902781750,RETIRED,RETIRED,200.00,2016-01-29,NaN,NaN,NaN,SA17A,1073637,SA17.1185074,P2016
1125655,C00573519,P60005915,"Carson, Benjamin S.","HENDRICKS, JIM C. MR.",ETNA,CA,960270030,RETIRED,RETIRED,25.00,2016-01-06,NaN,NaN,NaN,SA17A,1073637,SA17.1120355,P2016
1125656,C00573519,P60005915,"Carson, Benjamin S.","HENDRICKS, JIM C. MR.",ETNA,CA,960270030,RETIRED,RETIRED,25.00,2016-01-12,NaN,NaN,NaN,SA17A,1073637,SA17.1131185,P2016
1125657,C00573519,P60005915,"Carson, Benjamin S.","HENDRICKS, JIM C. MR.",ETNA,CA,960270030,RETIRED,RETIRED,50.00,2016-01-21,NaN,NaN,NaN,SA17A,1073637,SA17.1156676,P2016
1125658,C00573519,P60005915,"Carson, Benjamin S.","HENDRICKS, JIM C. MR.",ETNA,CA,960270030,RETIRED,RETIRED,50.00,2016-01-29,NaN,NaN,NaN,SA17A,1073637,SA17.1176690,P2016

**Question 1:**

Print the *shape* of the data. Does this match the expectation? (2 points)

**Answer 1**

yes it does match the expectation

In [4]:
contrib.shape

(1125659, 18)

**Question 2:**

Print a list of column names. Are all the columns included that are in the documentation? (2 points)

**Answer 2**

Yes everything is included you can see it below

In [6]:
contrib.columns.to_list()

['cmte_id',
 'cand_id',
 'cand_nm',
 'contbr_nm',
 'contbr_city',
 'contbr_st',
 'contbr_zip',
 'contbr_employer',
 'contbr_occupation',
 'contb_receipt_amt',
 'contb_receipt_dt',
 'receipt_desc',
 'memo_cd',
 'memo_text',
 'form_tp',
 'file_num',
 'tran_id',
 'election_tp']

**Question 3:**

Print out the first five rows of the dataset. How do the columns `cand_id`, `cand_nm` and `contbr_st` look? (3 points)

**answer 3**

Cand_id: is an unique id for each person like Hilary, Sanders
cand_nm: this holds the first ,middle, and last name of the person
contbr_st: i think this is the state name abbrevation like CA is Califronia

In [7]:
contrib.head(5)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00575795,P00003392,"Clinton, Hillary Rodham","AULL, ANNE",LARKSPUR,CA,"949,391,913.00",NaN,RETIRED,50.00,2016-04-26,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4768722,P2016
1,C00575795,P00003392,"Clinton, Hillary Rodham","CARROLL, MARYJEAN",CAMBRIA,CA,"934,284,638.00",NaN,RETIRED,200.00,2016-04-20,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4747242,P2016
2,C00575795,P00003392,"Clinton, Hillary Rodham","GANDARA, DESIREE",FONTANA,CA,"923,371,507.00",NaN,RETIRED,5.00,2016-04-02,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4666603,P2016
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016

**Question 4:**

Print out the values for the column `election_tp`. In your own words, based on the documentation, what information does the `election_tp` variable contain? Do the values in the column match the documentation? (3 points)

**Answer 4**

i belive this stands for election 2016 like p2016 = presidential election 2016
and yes they do match the columns in the dataset

In [10]:
contrib['election_tp'].head(5)

0    P2016
1    P2016
2    P2016
3    P2016
4    P2016
Name: election_tp, dtype: object

**Question 5:**

Print out the datatypes for all of the columns. What are the datatypes for the `contbr_zip`, `contb_receipt_amt`, `contb_receipt_dt`? (5 points)

**Answer 5**

`contbr_zip` : object

`contb_receipt_amt`: Float64

`contb_receipt_dt`: datetime64[ns]

In [11]:
contrib.dtypes

cmte_id                      object
cand_id                      object
cand_nm                      object
contbr_nm                    object
contbr_city                  object
contbr_st                    object
contbr_zip                   object
contbr_employer              object
contbr_occupation            object
contb_receipt_amt           float64
contb_receipt_dt     datetime64[ns]
receipt_desc                 object
memo_cd                      object
memo_text                    object
form_tp                      object
file_num                      int64
tran_id                      object
election_tp                  object
dtype: object

**Question 6:**

What columns have the most nulls?  Would you recommend to drop any columns based on the number of nulls? (5 points)

*Hint:* Use the .isna() and .sum() functions together

**Answer 6**

contbr_employer       157902,
contbr_occupation      10399,
receipt_desc         1110614,
memo_cd               981391,
memo_text             624511,
election_tp             1425,

`these has the most null `

contbr_city               26,
contbr_zip                95,

`these are the lest none `

i can only suggest to drop one of the least one because if you drop the one with the most it could effect your dataset plus it depends on what you need it for and what are you looking for so the circumstance matters

In [14]:
contrib.isnull().sum()

cmte_id                    0
cand_id                    0
cand_nm                    0
contbr_nm                  0
contbr_city               26
contbr_st                  0
contbr_zip                95
contbr_employer       157902
contbr_occupation      10399
contb_receipt_amt          0
contb_receipt_dt           0
receipt_desc         1110614
memo_cd               981391
memo_text             624511
form_tp                    0
file_num                   0
tran_id                    0
election_tp             1425
dtype: int64

**Question 7:**

A column we know that we want to use is the cand_nm column.  From the documentation each candidate is a unique candidate id also. Check data quality of `cand_id` column to see if it matches `cand_nm` column. Specifically check to ensure our targetted candidate 'Bernard Sanders' always has the same cand_id throughout. Any issues with `cand_nm` matching `cand_id`? (5 points)

*Hint:* Look at the value counts for candidate ID and name pairs.

**Question 8:**

Another area to check is to make sure all of the records are from California. Check the `contbr_st` column - are there any records outside of California based on `contbr_st`? (5 points)

**Question 9:**

The next column to check for the analysis is the `tran_id` column. This column could be the primary key so look for duplicates. How many duplicate entries are there? (5 points)

*Hint:* Look at the where the tran id value counts are greater than 1

In [ ]:
# check a few duplicated tran_id examples to see if there is a pattern for why there are duplicae entries
examples = ['ADB49CB248C174E298F0', 'A5602AD777C8C4632B5A', 'SA17.1131188', 'SA17.959311', 'C10357933', 'C9499151']
contrib[contrib['tran_id'].isin(examples)]

After examining a few of these duplicated tran_id's, there do not appear to be any patterns for why there are duplicate entries.

**Question 10:**

Another column to check is the `contb_receipt_amt` that shows the donation amounts. How many negative donations are included? What do negative donations mean? Please show at least pull a few rows to look at the records with negative donations. Do these records match with the expectation of why a negative donation would happen? (5 points)

To assist you, please refer to the following:

https://www.fec.gov/help-candidates-and-committees/filing-reports/redesignating-and-reattributing-contributions/

Also, it may be useful to examine the 'receipt_desc' and 'memo_text' fields.

**Question 11:**

Another column to look at is the date of donation column. Are there any dates outside of the primary period (defined as '2014-01-01' to '2016-06-07')? Are the dates well-formatted for our analysis? (5 points)

**Question 12:**

Let's examine the ```contbr_zip``` field. The zip codes should be 5 digits and not contain any decimals.

Look at the distribution of zip codes. Do they appear to be properly formatted? If not, give two examples of incorrectly formatted zip codes.

(5 points)

**At this stage, here is a list of columns that appear important to answer the boss's questions:**

"tran_id", "cand_id", "cand_nm", "election_tp", "contbr_zip", "contbr_nm", "contb_receipt_amt", and "contb_receipt_date"

**Here is a list of columns that do not appear important to answer the boss's questions:**

"cmte_id", "contbr_city", "contbr_st", "contbr_employer", "contbr_occupation", "receipt_desc", "memo_cd", "memo_text", "form_tp", "file_num"

***
# **Part 2: Data Filtering and Data Quality Fixes (25 points)**

Now that we have a basic understanding of the data, let's filter out the records we don't need and fix the data.

**Question 13:**

From the dataset filter out (remove) any election_tp not in the primary election. Print/show the shape of the dataframe after the filtering is complete. (5 points)

**Question 14:**

From the dataset filter out (remove) any candidate that is not Bernie Sanders. Print/show the shape of the dataframe after the filtering is complete. (5 points)

**Question 15:**

The `contbr_zip` column is not formatted well for our analysis.

Make a new zipcode column that is the five-digit zipcodes. Filter out any records outside of California based on the zipcode. Print/show the shape of the dataframe after the filtering is complete. (10 points).

**Note:**

If you were conducting this analysis in the real world, you would have to research what the valid 5-digit zipcodes for California are!

For ease of the assignment, I have done this research for you.

**Valid CA zip codes ranges from 90001 to 96162.**

I used the following source for this information:

https://www.structnet.com/instructions/zip_min_max_by_state.html

In [ ]:
contrib['contbr_zip'] = contrib['contbr_zip'].astype("string")
ca_zip_code_list = contrib['contbr_zip'].tolist()

**Question 16:**

The receipt amount column has negative donations. After talking with your team, a decision was made that the best course of action is to remove these negative values so that the donation count and amount is more accurate. Print/show the shape of the dataframe after the filtering is complete. (5 points)

Next, we will drop columns that were not needed for the filtering and will not be needed to answer the boss's questions. Please take a moment to see which columns can be dropped in the code cell below.

In [ ]:
# drop columns that won't be used in the analysis

drop_cols = ["cmte_id", "contbr_city", "contbr_st", "contbr_employer", "contbr_occupation", "receipt_desc",
             "memo_cd", "memo_text", "form_tp", "file_num"]


#pre-drop dataframe shape
print("Pre-drop row count: ", contrib.shape[0])
print("Pre-drop column count: ", contrib.shape[1])

contrib = contrib.drop(drop_cols, axis=1)

#post-drop dataframe shape
print("Post-drop row count: ", contrib.shape[0])
print("Post-drop column count: ", contrib.shape[1])

***
# **3. Answering the questions (20 points)**

Now that the data is cleaned and filterd - let's answer the two questions from your boss!

**Question 17:**

Which zipcode had the highest count of contributions and the most dollar amount? (10 points)

**Question 18:**

What day(s) of the month do most people donate? (10 points)